<!DOCTYPE html>
{% load static i18n %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}FAUNAround{% endblock title %}</title>
        <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="{% static 'js/jquery.js' %}"></script>
    </head>
    <body>
        <header>
            <h1>FAUNAround</h1>
            <h2>{% trans 'best place to record your fauna observations'|capfirst %}</h2>
        </header>
        <nav>
            <ul class="flex-menu">
                <li><a href="{% url 'index' %}">{% trans 'home'|upper %}</a></li>
                <li><a href="{% url 'all_classes' %}">{% trans 'animal classes'|capfirst %}</a></li>
                <li><a href="{% url 'observations' %}">{% trans 'observations'|capfirst %}</a></li>
                <li><a href="{% url 'data_analysis' %}">{% trans 'analytics'|capfirst %}</a></li>
                <li><a href="{% url 'about' %}">{% trans 'about us'|capfirst %}</a></li>
            </ul>
            <ul class="flex-menu-user">
                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'profile_detail_active' %}">{{ request.user }}</a></li>
                    <li><a href="{% url 'add_observation' %}">{% trans 'add new observation'|capfirst %}</a></li>
                    <li><a href="{% url 'user_observations' %}">{% trans 'my observations'|capfirst %}</a></li>
                    {% if request.user.is_superuser or request.user.is_staff %}
                        <li><a href="{% url 'admin:index' %}">{% trans 'admin'|capfirst %}</a></li>
                    {% endif %}
                    <li><a href="{% url 'logout' %}">{% trans 'log out'|capfirst %}</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}{% if request.path != '/accounts/logout/' %}?next={{ request.path }}{% endif %}">{% trans 'log in'|capfirst %}</a></li>
                    <li><a href="{% url 'register' %}">{% trans 'sign up'|capfirst %}</a></li>
                {% endif %}
                    <li>
                        <form action="{% url 'set_language' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ redirect_to }}">
                            <select name="language" onchange="this.form.submit();">
                                {% for lang in LANGUAGES %}
                                    <option value="{{ lang.0 }}" {% if lang.0 == LANGUAGE_CODE %}selected{% endif %}>{{ lang.1 }}</option>
                                {% endfor %}
                            </select>
                        </form>
                    </li>
            </ul>
        </nav>
        <main>
            {% block content %}{% endblock content %}
        </main>
        <footer>
            <p>&copy; 2023 FAUNAround</p>
        </footer>
    </body>
</html>
