<!DOCTYPE html>
{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}FAUNAround{% endblock title %}</title>
        <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script src="{% static 'js/jquery.js' %}"></script>
    </head>
    <body>
        <header>
            <h1>FAUNAround</h1>
            <h2>Best place to record your fauna observations</h2>
        </header>
        <nav>
            <ul class="flex-menu">
                <li><a href="{% url 'index' %}">HOME</a></li>
                <li><a href="{% url 'all_classes' %}">Animal Classes</a></li>
                <li><a href="{% url 'observations' %}">Observations</a></li>
                <li>Analytics</li>
                <li><a href="{% url 'about' %}">About Us</a></li>
                {% if request.user.is_authenticated %}
                    <li class="user-menu"><a href="{% url 'profile_detail_active' %}">{{ request.user }}</a></li>
                    <li><a href="{% url 'add_observation' %}">Add new observation</a></li>
                    <li><a href="{% url 'user_observations' %}">My observations</a></li>
                    {% if request.user.is_superuser or request.user.is_staff %}
                        <li><a href="{% url 'admin:index' %}">Admin</a></li>
                    {% endif %}
                    <li><a href="{% url 'logout' %}">Log out</a></li>
                {% else %}
                    <li class="user-menu"><a href="{% url 'login' %}{% if request.path != '/accounts/logout/' %}?next={{ request.path }}{% endif %}">Log in</a></li>
                    <li><a href="{% url 'register' %}">Sign up</a></li>
                {% endif %}
            </ul> 
        </nav>
        <main>
            {% block content %}{% endblock content %}
        </main>
        <footer>
            <p>&copy; 2023 FAUNAround</p>
        </footer>
    </body>
</html>
