{% extends 'base.html' %}
{% block title %}Welcome to {{ block.super }}{% endblock title %}
{% block content %}
<div class="flex-main">
    {% if animalclass_list.count > 0 %}
        {% for class in animalclass_list %}
            <a href="{% url 'one_class' class_type=class.class_en|lower %}">
            <div class="flex-classes-box">
                <p>{{ class.class_scientific }}</p>
                <p>{{ class.class_national }}</p>
                {% if class.example_image %}
                <img src="{{ class.example_image.url }}">
                {% else %}
                <p>No example image</p>
                {% endif %}
            </div>
        </a>
        {% endfor %}
    {% else %}
    <p>No animal classes uploaded to database</p>
    {% endif %}
</div>
{% endblock content %}