{% extends 'base.html' %}
{% load static %}
{% block title %}Welcome to {{ block.super }}{% endblock title %}
{% block content %}
<h1>Animal classes</h1>
<div class="flex-main">
    {% if animalclass_list %}
        {% for class in animalclass_list %}
            <a href="{% url 'species_list' class.pk %}">
            <div class="flex-classes-box">
                <p>{{ class.class_scientific }}</p>
                <p>{{ class.class_national }}</p>
                {% if class.example_image %}
                    <img src="{{ class.example_image.url }}">
                {% else %}
                    <img src="{% static 'img/default.png' %}">
                {% endif %}
            </div>
        </a>
        {% endfor %}
    {% else %}
    <p>No animal classes uploaded to database</p>
    {% endif %}
</div>
{% endblock content %}