{% extends 'base.html' %}
{% load static i18n %}
{% block title %}{{ block.super }}{% endblock title %}
{% block content %}
<h1>{% trans 'animal classes'|capfirst %}</h1>
<div class="flex-main">
    {% if animalclass_list %}
        {% for class in animalclass_list %}
            <a href="{% url 'species_list' class.pk %}">
            <div class="flex-classes-box">
                {% if request.META.HTTP_ACCEPT_LANGUAGE|slice:":2" == 'lt' %}
                    <h4>{{ class.class_national }}</h4>
                {% else %}
                    <h4>{{ class.class_en }}</h4>
                {% endif %}
                <h4>({{ class.class_scientific }})</h4>
                {% if class.example_image %}
                    <img src="{{ class.example_image.url }}" alt="{{ class.class_scientific }}">
                {% else %}
                    <img src="{% static 'img/default.png' %}" alt="{% trans 'default image'|lower %}">
                {% endif %}
            </div>
        </a>
        {% endfor %}
    {% else %}
    <p>{% trans 'no animal classes uploaded to database'|capfirst %}</p>
    {% endif %}
</div>
{% endblock content %}