{% extends 'base.html' %}
{% load static %}
{% block title %}Birds at {{ block.super }}{% endblock title %}
{% block content %}
<h1>Birds</h1>
{% include 'faunaweb/includes/search.html' %}
{% include 'faunaweb/includes/paginator_next.html' %}
<div class="flex-main">
    {% if birds_list.count > 0 %}
        {% for species in birds_list %}
            <div class="flex-classes-box">
                <p>{{ species.species_scientific }}</p>
                <p>{{ species.species_national }}</p>
                {% if species.species_image %}
                    <img src="{{ species.species_image.url }}">
                {% else %}
                    <img src="{% static 'img/default.png' %}">
                {% endif %}
            </div>
        {% endfor %}
    {% else %}
    <p>No animal classes uploaded to database</p>
    {% endif %}
</div>
{% include 'faunaweb/includes/paginator_pages.html' %}
{% endblock content %}