{% extends 'base.html' %}
{% load static i18n %}
{% block title %}{{ block.super }}{% endblock title %}
{% block content %}
<h1>{% trans 'delete observation'|capfirst %}</h1>
<div>
    <p>{% trans 'do you really want to delete this observation'|capfirst %}?</p>
    <p>{% trans 'date'|capfirst %}: {{ observation.date }}</p>
    <p>{% trans 'species'|capfirst %}: {{ observation.species }}</p>
    <p>{% trans 'count'|capfirst %}: {{ observation.count }}</p>
    <p>{% trans 'place'|capfirst %}: {{ observation.place }}</p>
    <p>{% trans 'photo'|capfirst %}:</p>
    {% if observation.photo %}
    <img src="{{ observation.photo.url }}" alt="Observation Photo">
    {% else %}
    <p>{% trans 'no photo available'|capfirst %}</p>
    {% endif %}
<div>
<form method="POST">
  {% csrf_token %}
  <input type="submit" value="{% trans 'delete'|capfirst %}">
  <a href="{% url 'user_observations' %}">{% trans 'cancel'|capfirst %}</a>
</form>
{% endblock content %}