{% extends 'base.html' %}
{% block title %}Welcome to {{ block.super }}{% endblock title %}
{% block content %}
<div class="flex-main">
    <div class="flex-main-box">
        <p>Random species info. NO INFORMATION YET.</p>
    </div>
    <div class="flex-main-box">
        <p>Welcome to FAUNAround! This is the best place to record your fauna observations. In our database you can find XX different species.</p>
        <p>Feel free to register and add your first observation! Just click here.</p>
    </div>
    <div class="flex-main-box">
        <p>Some diagram (top species or other). NO INFORMATION YET.</p>
    </div>
    <div class="flex-main-box">
        <p>TOP 10 registered species. NO INFORMATION YET.</p>
    </div>
    <div class="flex-main-box">
        <p>Latest 5 observations. NO INFORMATION YET.</p>
    </div>
    <div class="flex-main-box">
        <p>Some diagram (top classes or other). NO INFORMATION YET.</p>
    </div>
</div>
{% endblock content %}