{% extends 'base.html' %}
{% load static i18n %}
{% block title %}{% trans 'welcome to'|capfirst %} {{ block.super }}{% endblock title %}
{% block content %}
<div class="flex-main">
    <div class="flex-main-box">
        {% if random_species %}
            {% if LANGUAGE_CODE == 'lt' %}
                <h4><a href="{% url 'species_detail' random_species.pk %}">{{ random_species.species_national }}</a></h4>
            {% else %}
                <h4><a href="{% url 'species_detail' random_species.pk %}">{{ random_species.species_en }}</a></h4>
            {% endif %}
            <h4><a href="{% url 'species_detail' random_species.pk %}">({{ random_species.species_scientific }})</a></h4>
            {% if random_species.species_image %}
                <img src="{{ random_species.species_image.url }}" alt="{{ random_species.species_scientific }}">
            {% else %}
                <img src="{% static 'img/default.png' %}" alt="{% trans 'default image'|lower %}">
            {% endif %}
        {% else %}
            <p>{% trans 'sorry, no random species found'|capfirst %}</p>
        {% endif %}
    </div>
    <div class="flex-main-box">
        <p>{% trans welcome|safe %}</p>
    </div>
    <div class="flex-main-box">
        {% if top_species %}
            <h4>{% trans 'top registered species'|capfirst %}</h4>
            {% for observation in top_species %}
                {% if LANGUAGE_CODE == 'lt' %}
                    <p><a href="{% url 'species_detail' observation.species__pk %}">{{ observation.species__species_national }} ({{ observation.species__species_scientific }})</a> - {{ observation.species_count }} {% trans 'time(s)'|lower %}</p>
                {% else %}
                    <p><a href="{% url 'species_detail' observation.species__pk %}">{{ observation.species__species_en }} ({{ observation.species__species_scientific }})</a> - {{ observation.species_count }} {% trans 'time(s)'|lower %}</p>
                {% endif %}
            {% endfor %}
        {% else %}
            <p>{% trans 'no species observations were registered'|capfirst %}</p>
        {% endif %}
    </div>
    <div class="flex-main-box">
        {% if latest_observations %}
            <h4>{% trans 'latest observations'|capfirst %}</h4>
            {% for observation in latest_observations %}
                {% if LANGUAGE_CODE == 'lt' %}
                    <p>{{ observation.date }} - <a href="{% url 'species_detail' observation.species.pk %}">{{ observation.species.species_national }} ({{ observation.species.species_scientific }})</a></p>
                {% else %}
                    <p>{{ observation.date }} - <a href="{% url 'species_detail' observation.species.pk %}">{{ observation.species.species_en }} ({{ observation.species.species_scientific }})</a></p>
                {% endif %}
            {% endfor %}
        {% else %}
            <p>{% trans 'no species observations were registered'|capfirst %}</p>
        {% endif %}
    </div>
</div>
{% endblock content %}