{% extends 'base.html' %}
{% load static i18n %}
{% block title %}{{ block.super }}{% endblock title %}
{% block content %}
<h1>{% trans 'observations'|capfirst %}</h1>
{% if observation_list %}
{% include 'faunaweb/includes/search.html' %}
{% include 'faunaweb/includes/paginator_next.html' %}
<h3>{% trans 'all observers already spotted'|capfirst %} {{ species_count }} {% trans 'of'|lower %} {{ total_species_count }} {% trans 'species'|lower %}</h3>
<table class="observation-table">
    <tr>
        <th>{% trans 'date'|capfirst %}</th>
        <th>{% trans 'class'|capfirst %}</th>
        <th>{% trans 'species'|capfirst %}</th>
        <th>{% trans 'count'|capfirst %}</th>
        <th>{% trans 'place'|capfirst %}</th>
        <th>{% trans 'observer'|capfirst %}</th>
        <th>{% trans 'photo'|capfirst %}</th>
    </tr>
    {% for observation in observation_list %}
        <tr>
            {% if request.META.HTTP_ACCEPT_LANGUAGE|slice:":2" == 'lt' %}
                <td>{{ observation.date }}</td>
                <td>{{ observation.species.class_id.class_national }} ({{ observation.species.class_id.class_scientific }})</td>
                <td><a href="{% url 'species_detail' observation.species.pk %}">{{ observation.species.species_national }} ({{ observation.species.species_scientific }})</a></td>
                <td>{{ observation.count }}</td>
                <td>{{ observation.place.place_national }}</td>
            {% else %}
                <td>{{ observation.date }}</td>
                <td>{{ observation.species.class_id.class_en }} ({{ observation.species.class_id.class_scientific }})</td>
                <td><a href="{% url 'species_detail' observation.species.pk %}">{{ observation.species.species_en }} ({{ observation.species.species_scientific }})</a></td>
                <td>{{ observation.count }}</td>
                <td>{{ observation.place.place_en }}</td>
            {% endif %}
            <td>
                {% if observation.observer.first_name and observation.observer.last_name %}
                    {{ observation.observer.first_name }} {{ observation.observer.last_name }}
                {% else %}
                    {{ observation.observer }}
                {% endif %}
            </td>
            <td>
                {% if observation.photo %}
                <img src="{{ observation.photo.url }}" class="observation-img" alt="{{ observation.species.species_scientific }}">
                {% else %}
                <p>{% trans 'no image uploaded'|capfirst %}</p>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>
<div class="total-entries">{% trans 'total entries'|capfirst %}: {{ entries_count }}</div>
{% else %}
    <p>{% trans 'no observations yet'|capfirst %}</p>
{% endif %}
{% endblock content %}