{% extends 'base.html' %}
{% load static i18n %}
{% block title %}{{ block.super }}{% endblock title %}
{% block content %}
<div class="flex-main">
    <div class="flex-species-box">
        {% if LANGUAGE_CODE == 'lt' %}
            <h2>{{ object.species_national }} ({{ object.species_scientific }})</h2>
            <h4>{% trans 'family'|capfirst %}: {{ object.family_national }} ({{ object.family_scientific }})</h4>
            <h4>{% trans 'order'|capfirst %}: {{ object.order_national }} ({{ object.order_scientific }})</h4>
        {% else %}
            <h2>{{ object.species_en }} ({{ object.species_scientific }})</h2>
            <h4>{% trans 'family'|capfirst %}: {{ object.family_en }} ({{ object.family_scientific }})</h4>
            <h4>{% trans 'order'|capfirst %}: {{ object.order_en }} ({{ object.order_scientific }})</h4>
        {% endif %}
    </div>
    <div class="flex-species-box">
        <h4>{% trans 'number of observations'|capfirst %}: {{ observation_count }}</h4>
    </div>
    <div class="flex-species-box">
        {% if object.species_image %}
            <img src="{{ object.species_image.url }}" alt="{{ object.species_scientific }}">
        {% else %}
            <img src="{% static 'img/default.png' %}" alt="{% trans 'default image'|lower %}">
        {% endif %}
    </div>
    <div class="flex-species-box">
        <p>{{ intro|safe }}</p>
        <p class="bold-text">{% trans 'read more on'|capfirst %} <a href="{{ wikipedia_url }}" target="_blanc">{% trans 'Wikipedia'|capfirst %}</a><p>
    </div>
    {% if request.user.is_authenticated %}
    <div class="flex-species-box">
        <h4>{% trans 'Click'|capfirst %} <a href="{% url 'add_observation' %}">{% trans 'here'|lower %}</a> {% trans 'to add new observation of this species'|lower %}</h4>
    </div>
    {% endif %}
</div>
{% endblock content %}