{% extends 'base.html' %}
{% load static %}
{% block title %}{{ block.super }}{% endblock title %}
{% block content %}
<div class="flex-main">
    <div class="flex-species-box">
        <h2>{{ object.species_scientific }} - {{ object.species_national }}</h2>
        <h3>Family: {{ object.family_scientific }} - {{ object.family_national }}</h3>
        <h3>Order: {{ object.order_scientific }} - {{ object.order_national }}</h3>
    </div>
    <div class="flex-species-box">
        <p>No species info yet</p>
    </div>
    <div class="flex-species-box">
        {% if object.species_image %}
            <img src="{{ object.species_image.url }}">
        {% else %}
            <img src="{% static 'img/default.png' %}">
        {% endif %}
    </div>
    <div class="flex-species-box">
        <p>Number of observations: {{ observation_count }}</p>
    </div>
    {% if request.user.is_authenticated %}
    <div class="flex-species-box">
        <p>Click <a href="{% url 'add_observation' %}">here</a> to add new observation of this species.</p>
    </div>
    {% endif %}
</div>
{% endblock content %}