html {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #FDFAF6;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 300px 50px auto 50px;
    grid-template-areas: 
        "header"
        "nav"
        "main"
        "footer"
    ;
}
header {
    background-image: url("../img/header.jpg");
    padding: 1rem;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #E4EFE7;
    border-bottom: 1px solid #064420;
}
main {
    padding: 2rem;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #E4EFE7;
    font-weight: bold;
    font-size: 16px;
    border-top: 1px solid #064420;
}
footer p {
    margin: 0;
}
h1 {
    margin-bottom: 2rem;
}
h4 {
    text-align: center;
    margin-bottom: 1rem;
}
h5 {
    text-align: center;
}
a {
    text-decoration: none;
    color: #064420;
}
a:hover {
    color: #609966;
}
.flex-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 15px;
    margin: 0;
    list-style-type: none;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
}
.flex-menu-user {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 15px;
    margin: 0;
    padding-right: 2rem;
    list-style-type: none;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
}
.flex-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5rem;
}
.flex-main-box {
    border: 2px solid #064420;
    background-color: #E4EFE7;
    border-radius: 10px;
    padding: 10px;
    width: 400px;
    /* min-height: 300px; */
    height: auto;
}
.flex-main-box img {
    width: 70%;
    height: auto;
    display: block;
    margin: auto;
}
.flex-classes-box {
    border: 2px solid #064420;
    background-color: #E4EFE7;
    border-radius: 10px;
    padding: 10px;
    width: 400px;
    height: auto;
}
.flex-classes-box p {
    text-align: center;
}
.flex-classes-box img {
    width: 50%;
    height: 50%;
    display: block;
    margin: auto;
}
.flex-species-box {
    border: 2px solid #064420;
    background-color: #E4EFE7;
    border-radius: 10px;
    padding: 10px;
    width: 600px;
    height: auto;
}
.flex-species-box h2, h3 {
    text-align: center;
}
.flex-species-box img {
    max-width: 500px;
    height: auto;
    display: block;
    margin: auto;
}
.flex-chart-box {
    border: 2px solid #064420;
    background-color: #E4EFE7;
    border-radius: 10px;
    padding: 10px;
    width: 600px;
    height: auto;
}
.flex-about-box {
    border: 2px solid #064420;
    background-color: #E4EFE7;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    height: auto;
}
.paginator {
    padding: 1rem;
    font-size: 16px;
}
.search {
    padding: 1rem;
}
.user-profile {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 5rem;
    list-style-type: none;
}
.user-profile-img {
    float: left;
    border-radius: 50%;
    border: 2px solid #064420;
}
.profile-form {
    padding-inline-start: 0;
    list-style-type: none;
}
.observation-table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}
.observation-table th {
    background-color: #9DC08B;
}
.observation-table tr:hover {
    background-color: #E4EFE7;
}
.observation-table th, td {
    border: 1px solid #E4EFE7;
    padding: 1rem;
}
.total-entries {
    width: 100%;
    text-align: right;
}
.observation-img {
    max-width: 300px;
    height: auto;
}
.bold-text {
    font-weight: bold;
}
.form-table td {
    border: none;
}
.form-button {
    margin: 1rem;
    background-color: #E4EFE7;
    border-radius: 10px;
    border: 1px solid #064420;
}