{% extends 'base.html' %}
{% block title %}Log into {{ block.super }}{% endblock title %}
{% block content %}
<h1>Log in</h1>
{% if form.errors %}
    <div class="alert alert-error">Error while logging in. Please try again.</div>
{% endif %}
<form method="post" action="{% url 'login' %}?next={{ request.GET.next }}">
    {% csrf_token %}
    <table class="form-table">
        <tr>
            <td><label for="{{ form.username.id_for_label }}">Username:</label></td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td><label for="{{ form.password.id_for_label }}">Password:</label></td>
            <td>{{ form.password  }}</td>
        </tr>
    </table>
    <button type="submit" class="form-button">Log in</button>
</form>
<p><a href="{% url 'password_reset' %}">Forgot password?</a></p>
{% endblock content %}