{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'forgot password at'|capfirst %} {{ block.super }}{% endblock title %}
{% block content %}
<h1>{% trans 'password reset'|capfirst %}</h1>
{% if form.errors %}
    <div class="alert alert-error">{% trans 'error while trying to reset your password'|capfirst %}. {% trans 'please try again'|capfirst %}.</div>
{% endif %}
<form method="post" action="{% url 'password_reset' %}">
    {% csrf_token %}
    <table class="form-table">
        <tr>
            <td><label for="{{ form.email.id_for_label }}">{% trans 'email'|capfirst %}:</label></td>
            <td>{{ form.email }}</td>
        </tr>
    </table>
    <button type="submit" class="form-button">{% trans 'reset password'|capfirst %}</button>
</form>
{% endblock content %}