{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'reset password for'|capfirst %} {{ block.super }}{% endblock title %}
{% block content %}
<h1>{% trans 'password reset'|capfirst %}</h1>
{% if form.errors %}
    <div class="alert alert-error">{% trans 'error while trying to reset your password'|capfirst %}. {% trans 'please try again'|capfirst %}.</div>
{% endif %}
<form method="post" action="{{ request.path }}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">{% trans 'reset password'|capfirst %}</button>
</form>
{% endblock content %}