{% extends 'base.html' %}
{% block title %}Forgot password at {{ block.super }}{% endblock title %}
{% block content %}
<h1>Password reset</h1>
{% if form.errors %}
    <div class="alert alert-error">Error while trying to reset your password. Please try again.</div>
{% endif %}
<form method="post" action="{% url 'password_reset' %}">
    {% csrf_token %}
    <table class="form-table">
        <tr>
            <td><label for="{{ form.email.id_for_label }}">Email:</label></td>
            <td>{{ form.email }}</td>
        </tr>
    </table>
    <button type="submit" class="form-button">Reset password</button>
</form>
{% endblock content %}