{% extends 'base.html' %}
{% load i18n %}
{% block title %}{{ object.user }} {% trans 'profile at'|lower %} {{ block.super }}{% endblock title %}
{% block content %}
<h1>{% trans 'user details'|capfirst %}</h1>
<ul class="user-profile">
    <li>
        <div>
            <img src="{{ object.photo.url }}" class="user-profile-img">
        </div>
    </li>
    <li>
        <div>
            {% if object.user.first_name or object.user.last_name %}
                <p>{% trans 'full name'|capfirst %}: {{ object.user.first_name }} {{ object.user.last_name }}</p>
            {% endif %}
            {% if object.user == request.user %}
            <p>{% trans 'username'|capfirst %}: {{ object.user }}</p>
            <p>{% trans 'email'|capfirst %}: {{ object.user.email }}</p>
            <p><a href="{% url 'profile_update' %}">{% trans 'update your profile'|capfirst %}</a></p>
        </div>
    </li>
</ul>
{% endif %}
{% endblock content %}
